/* Elements */

body {
    display: inline-block;
}

table {
    border: none;
    padding: none;
    margin: none;
    /* height: 100%; */
    width: 100%;
    text-align: center;
}

table.Sudoku { 
    border: none;
    padding: none;
    margin: none;
    font-family: Courier, sans-serif; 
    height: 650px;
    width: 600px;
    text-align: center;
    background-color: gray;
}

table.Square {
    border: none;
    padding: none;
    margin: none;
    text-align: center;
}

td.Cell {
    border: none;
    padding: none;
    margin: none;
    width: 63px;
    height: 63px;
    font-size: 50px;
    text-align: center;
    font-family: Courier, sans-serif;
    background-color: white;
}

td.CellPossibility {
    border: none;
    padding: none;
    margin: none;
    width: 17px;
    height: 17px;
    font-size: 13px;
    text-align: center;
    font-family: Courier, sans-serif;
    background-color: white;
} 

button {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline;
    width: 197px;
    max-width: 197px;
    font-size: 13px;
    font-family: Courier, sans-serif; 
    /* color: white;
    background-color: rgb(220, 220, 220); */
    background-color: white;
    color: black;
    border: none;
}

input {
    display: inline;
    width: 191px;
    max-width: 191px;
    font-size: 13px; 
    font-family: Courier, sans-serif; 
    justify-content: center;
    text-align: center; 
}

h5 {
    text-align: center; 
}

p { 
    margin: 0;
}

/* IDs */

#ButonContainer {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(180, 180, 180);
}

#Console {
    margin-top: 0;
    background-color: white;
    color: black;
    font-size: 12px;
    font-family: Courier, sans-serif; 
    height: 366px;
    max-height: 366px;
}

#SudokuContainer {
    height: 650px;
    width: 600px; 
    background-color: rgb(180, 180, 180);
}

#ButtonContainer {
    height: 650px;
    width: 600px; 
    margin-left: 5px;
    background-color: rgb(180, 180, 180);
}

#Log {
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: white;
    color: black;
    overflow-y: overlay;
    scroll-behavior: smooth;
    max-height: 343px;
}

#SudokuStatsOveral {
    width: 600px;
    max-width: 600px;
}

#SudokuStatsNumbersHeader {
    color: white;
    background-color: gray;
    font-family: Courier, sans-serif; 
    font-size: 11px;
}

#SudokuStatsNumbersData {
    width: 600px;
    max-width: 600px;
    background-color: rgb(180, 180, 180);
    border-color: grey;
    border: 1px;
    color: white;
    padding: 0;
}

#SudokuStatsOverallHeader {
    color: white;
    background-color: gray;
    font-family: Courier, sans-serif; 
    font-size: 11px;
}

#SudokuStatsOverallData {
    width: 600px;
    max-width: 600px;
    background-color: rgb(180, 180, 180);
    color: white;
    padding: 0;
}

#Everything {
    display: inline-flex;
    padding: 5px;
    background-color: rgb(180, 180, 180);
}

#GridAndButtons {
    display: inline-flex;
}

/* Classes */

.SectionTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: gray;
    font-family: Courier, sans-serif; 
    font-size: 20px; 
    /* margin-bottom: 0.5%; 
    margin-left: 0;
    margin-right: 0;
    margin-top: 1%; */
    width: 600px;
    max-width: 600px;
}

.SectionTitleRight {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: gray;
    font-family: Courier, sans-serif; 
    font-size: 20px; 
    margin: 0;
    width: 100%;
}

.knowndata {
    background-color: white;
    color: black;
}
